@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
<div class="w-100">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/Carrousel15.png" class="d-block w-100" style="height: 76vh; object-fit: contain;" alt="Imagen 1">
            </div>
            <div class="carousel-item">
                <img src="~/images/Carrousel22.png" class="d-block w-100" style="height: 76vh; object-fit: contain;" alt="Imagen 2">
            </div>
            <div class="carousel-item">
                <img src="~/images/Carrousel33.png" class="d-block w-100" style="height: 76vh; object-fit: contain;" alt="Imagen 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

</div>

<div class="text-center mt-4">
=======
<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>*@
    @*<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@  
>>>>>>> 22ca98ce21393483d4490652a8d3de1a5a180651
</div>
